<div id="reimbs-container">
    <h1>Hello, <span id="loggedInUsername"></span></h1>
    <div>
        Reimbs Page worksssssdfgfdsh!
    </div>
    
    <div class="form-group">
        <label for="reimbId">Enter Reimbursement ID to View Details</label> 
        <input type="text" class="form-control" id="reimbId" placeholder="Ex: 27">
    </div>
    <div id="reg-button-container">
        <button type="submit" class="btn btn-primary" id="viewReimbDetails">View Details</button>
    </div>

    <table id="reimbsTable">
        
    </table>

    <table id="test-table" class="display">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
        </tbody>
    </table>
</div>

