<div id="reimbs-container">
    <h1>Reimbursements</h1>
    <!-- <span id="loggedInUsername"></span> -->
    
    <div class="form-group">
        <label for="reimbId">Enter Reimbursement ID to View Details</label> 
        <input type="text" class="form-control" id="reimbId" placeholder="Ex: 27">
    </div>
    <div id="reimb-button-container">
        <button type="submit" class="btn btn-primary" id="viewReimbDetails">View Details</button>
    </div>
    <div id="anotherReimbTable">
        
    </div>

    <table id="reimbsTable">
        
    </table>

